$app-background: #FFFFFF;
$app-accent: #AED47C;

$color-main-text: #FFFFFF;
$color-black-text: #1D1D1D;
$color-text-input-background: #FFFFFF;


$color-primary-button-disabled: #aee3ec;
$color-primary-button: #D3F26A;
$color-primary-button-hover: #1D1D1D;

$color-secondary-button-disabled: #C3C3C3;
$color-secondary-button: #2D2F33;
$color-secondary-button-hover: #11574F;

$color-accent: #CE3523;

$color-footer: #FFF49B;
