@use 'breakpoints' as *;

@mixin container {
  width: $desktop;
  max-width: calc(100vw - 40px);
  margin: 0 auto;

  @include tablet {
    max-width: calc(100vw - 20px);
  }

  @include mobile {
    max-width: 100%;
    margin: 0;
  }
}

.container {
  @include container;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
