@use 'breakpoints' as *;

@mixin container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: $desktop;
  max-width: calc(100vw - 100px);
  margin: 0 auto;

  @include tablet {
    max-width: 100%;
  }

  @include tablet {
    max-width: 100%;
    margin: 0;
  }
}

.container {
  @include container;
}
